\#*
*~
.#*
.DS_Store
.idea
.localeapp/locales
.project
coverage
Gemfile.lock
tmp
nbproject
pkg
*.sw?
#spec/dummy
.rvmrc
.sass-cache
public/spree
.ruby-version
.ruby-gemset
gemfiles/*.gemfile.lock
spec/dummy/storage
spec/dummy/db/spree_development.sqlite3
spec/dummy/db/spree_test.sqlite3
spec/dummy/node_modules
test.log
